<%= form_with(model: planet, local: true) do |form| %>
  <% if planet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(planet.errors.count, "error") %> prohibited this planet from being saved:</h2>

      <ul>
      <% planet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :proper_name %>
    <%= form.text_field :proper_name, id: :planet_proper_name %>
  </div>

  <div class="field">
    <%= form.label :slug %>
    <%= form.text_field :slug, id: :planet_slug %>
  </div>

  <div class="field">
    <%= form.label :system_id %>
    <%= form.text_field :system_id, id: :planet_system_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
