<p id="notice"><%= notice %></p>

<p>
  <strong>Slug:</strong>
  <%= @solar_system.slug %>
</p>

<p>
  <strong>Formal name:</strong>
  <%= @solar_system.formal_name %>
</p>

<%= link_to 'Edit', edit_solar_system_path(@solar_system) %> |
<%= link_to 'Back', solar_systems_path %>
